.root {
    height: 100vh;
    width: 100vw;
}

.sidebar {
    position: fixed;
    z-index: 1;
}

.rightbar.MuiContainer-root {
  padding-top: 70px;
  height: 100vh;
  min-width: 320px;
}

.rightbar__paper {
  min-height: 88vh;
  display: flex;
  flex-direction: column;
}
