.home {
  display: flex;
  flex-direction: column;
}

.home__container {
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
}

.home__leftbar {
  max-width: 320px;
  flex-grow: 1;
  height: 100%;
}

.home__root {
  flex-grow: 9;
}

.root__container.MuiContainer-root {
  padding-top: 70px;
  height: 100vh;
}


@media (max-width: 1200px) {
  .home__container {
    flex-direction: column;
  }
  .home__leftbar {
    display: none;
  }
}
